.window {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: center;
}

@media (max-width: 719px)  {
    .window {
        max-width: 100%;
    }
}