
.frameworkList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;

    li {
        width: 120px;
        max-width: 120px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
