.crtPage {
  background-color: #000;
  color: #000;
}

/* @media (prefers-color-scheme: dark) {
  .crtPage {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */

.main {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: .75rem;
  height: 100vh;
  width: 100vw;
  padding: 3rem 1rem 1rem 1rem;
}

.windows {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (min-width: 600px) {
  .main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
} */
