.fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 2rem;
    border-bottom: 1px solid #000;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFF;
    z-index: 999;

    nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: .5rem;
        padding-right: .5rem;
        position: relative;

        &:hover {
            cursor: pointer;
            background-color: #000;
            color: #FFF;
        }

        ul {
            display: none;
            position: absolute;
            width: 200px;
            height: auto;
            top: 31px;
            left:0;
            background-color: #FFF;
            color: #000;
            border: 1px solid #000;
            border-top: 1px solid #FFF;
            list-style: none;

            &.expanded {
                display: flex;
                flex-direction: column;

                li {
                    padding: 6px;
                    &:hover {
                        cursor: pointer;
                        background-color: #000;
                        color: #FFF;
                    }
                }
            }
        }
    }
}